{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <title>{% block title %}Media feed{% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">Menu</a>
            </div>
            <ul class="nav navbar-nav">
              <li class="active"><a href="{% url 'contentapp:index' %}">Home</a></li>
              {% if request.user.is_authenticated %}
                  <li><a href="{% url 'contentapp:upload_content' %}">Upload file</a></li>
                  <li><a href="{% url 'contentapp:share_insta_content' %}">Instagram share</a></li>
                  <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
              {% else %}
                  <li><a href="{% url 'accounts:signup' %}">Sign Up</a></li>
                  <li><a href="{% url 'accounts:login' %}">Log in</a></li>
              {% endif %}
            </ul>
        </div>
    </nav>
    {% block content %}{% endblock %}
</body>
</html>